<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a>Expense Tracker</a>
    </header>
    <div class="col-md-12 bg-dark">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white"
            ><i class="fa fa-dashcube"></i> Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"><i class="fa fa-money"></i>Budget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"
            ><i class="fa fa-exchange"></i>Transaction</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"><i class="fa fa-file"></i>Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white"
            ><i class="fa fa-file-pdf-o"></i>Export</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
