<div id="viewport">
  <app-sidebar></app-sidebar>

  <app-dashboard-header></app-dashboard-header>

  <app-dashboard-modal></app-dashboard-modal>

  <!-- Contents -->
  <div class="d-flex flex-wrap background py-3">
    <div class="p-3 col-6">
      <app-earning-charts></app-earning-charts>
    </div>
    <div class="p-3 col-3">
      <app-loan-charts></app-loan-charts>
    </div>
    <div class="p-3 col-3">
      <app-saving-charts></app-saving-charts>
    </div>
    <div class="p-3 col-6">
      <app-spending-charts></app-spending-charts>
    </div>
    <div class="p-3 col-6">
      <app-earning-by-month-charts></app-earning-by-month-charts>
    </div>
  </div>
</div>
