<!-- header -->
<div id="content">
  <div class="row">
    <div class="w-100 bg-white">
      <div
        class="d-flex bg-body shadow-sm text-black p-3 pb-2 align-items-center"
      >
        <div class="flex-grow-1">
          <h4>Greetings Gail</h4>
        </div>
        <div class="me-2">
          <button class="btn btn-primary" (click)="openPopup()" mdbWavesEffect>
            Create New <span class="ms-1">+</span>
          </button>
        </div>
        <!-- Notifications -->
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger"
              >1</span
            >
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item">Some news</a>
            </li>
            <li>
              <a class="dropdown-item">Another news</a>
            </li>
            <li>
              <a class="dropdown-item">Something else here</a>
            </li>
          </ul>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle h-[39px]"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item">My profile</a>
            </li>
            <li>
              <a class="dropdown-item">Settings</a>
            </li>
            <li>
              <a class="dropdown-item">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
