<div class="d-flex justify-content-between bg-white p-3">
  <div class="fw-bold">
    Spending By Month
    <br />
    <br />
    <p *ngIf="option">Total Cost: ${{ total_cost }}</p>
  </div>
  <div class="d-flex flex-column" *ngIf="option">
    <select
      class="bg-white"
      [(ngModel)]="defaultDateRange"
      (ngModelChange)="onSelected($event)"
    >
      <option value="5">5 Days</option>
      <option value="15">15 Days</option>
      <option value="30">30 Days</option>
    </select>
    <br />
    <button class="btn btn-light rounded" (click)="goBack()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div
  id="earningbymonthchartdiv"
  style="width: 100%; height: 250px"
  class="bg-white"
></div>
