<div class="d-flex justify-content-between bg-white p-3">
  <div class="fw-bold">
    Saving
    <br />
    <p class="mt-2">$2400</p>
  </div>
  <div>
    <select
      class="bg-white"
      [(ngModel)]="selectedOption"
      (ngModelChange)="onSelected($event)"
    ><option [value]="selectedOptionEnum.FiveDays">
      {{ selectedOptionEnum.FiveDays }} Days
    </option>
    <option [value]="selectedOptionEnum.FifteenDays">
      {{ selectedOptionEnum.FifteenDays }} Days
    </option>
    <option [value]="selectedOptionEnum.ThirtyDays">
      {{ selectedOptionEnum.ThirtyDays }} Days
    </option>
    </select>
  </div>
</div>
<div
  id="savingchartdiv"
  style="width: 100%; height: 250px"
  class="bg-white"
></div>
